.project {
  width: 100%;
  transition: all 0.2s;
}

.project:last-of-type {
  border-bottom: 1px solid #c9c9c9;
}

.projectLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid #c9c9c9;
}

.project h3 {
  font-size: 60px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

.project p {
  transition: all 0.4s;
  font-weight: 300;
}

.project:hover {
  opacity: 0.5;
}

.project:hover h3 {
  transform: translateX(-10px);
}

.project:hover p {
  transform: translateX(10px);
}
