.hero {
  position: relative;
  display: flex;
  height: 100svh;
  margin-bottom: 100svh;
  overflow: hidden;
}

.hero img {
  object-fit: cover;
  filter: brightness(0.8);
}

.sliderContainer {
  position: absolute;
  top: calc(100svh - 350px);
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0;
  padding-right: 50px;
  color: var(--color-white);
  font-size: 15rem;
  font-weight: 500;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.description {
  position: absolute;
  top: 35%;
  left: 70%;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 400;
}

.description p {
  margin-bottom: 10px;
}

.description svg {
  transform: scale(2);
  margin-bottom: 70px;
}
