.nav {
  display: flex;
  align-items: center;
}

.nav a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.el {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 15px;
  cursor: pointer;
}

.indicator {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 45px;
  left: 50%;
  background-color: white;
  border-radius: 50%;
  transform: scale(0) translateX(-50%);
  transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
}

.el:hover {
  .indicator {
    transform: scale(1);
  }
}
