.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 20px;
  font-weight: 400;
  font-size: 1.1rem;
  z-index: 1;
}
