:root {
  --color-dark: #1c1d20;
  --color-white: #fff;
  --color-highlight: #455ce9;

  --transition-all: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-white);
  text-shadow: none;
}
